node_modules/
dist/
.env

# Next.js build outputs
.next/
out/
build/

# Next.js development
.cache/
.vercel/

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# OS files
.DS_Store
*.pem

# IDE/Editor folders
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# PWA files
public/sw.js
public/workbox-*.js

# Temporary files
*.log
.tmp/
